Source: openplotter-can
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-can
X-Python3-Version: >= 3.2

Package: openplotter-can
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings (>=2.5.0), openplotter-signalk-installer (>=2.3.0), canboat (>=1.3.0.1), can-utils
Description: OpenPlotter app to manage CAN BUS adapters
 OpenPlotter app to manage CAN BUS adapters
